.idea
.settings
.externalToolBuilders
obj
target
build
javadoc
site

.classpath
.project
*.bat
LWC.iml
LWC.ipr
LWC.iws
*ReSharper*
*.suo
*.iml

# Forge
mods/forge/mcp/.gradle
mods/forge/mcp/build
mods/forge/mcp/src
mods/forge/mcp/tmp
