.idea
.settings
.externalToolBuilders
obj
target
build
javadoc

.classpath
.project
*.bat
LWC.iml
LWC.ipr
LWC.iws
*ReSharper*
*.suo
*.iml

# Forge
mods/forge/mcp/CHANGELOG
mods/forge/mcp/cleanup.*
mods/forge/mcp/decompile.*
mods/forge/mcp/getchangedsrc.*
mods/forge/mcp/reformat.*
mods/forge/mcp/startclient.*
mods/forge/mcp/startserver.*
mods/forge/mcp/updateids.*
mods/forge/mcp/updatemcp.*
mods/forge/mcp/updatemd5.*
mods/forge/mcp/updatenames.*
mods/forge/mcp/bin
mods/forge/mcp/docs
mods/forge/mcp/eclipse
mods/forge/mcp/forge
mods/forge/mcp/jars
mods/forge/mcp/lib/LWC-Backend.jar
mods/forge/mcp/logs
mods/forge/mcp/modsrc
mods/forge/mcp/reobf
mods/forge/mcp/src
mods/forge/mcp/temp/cls
mods/forge/mcp/temp/src
mods/forge/mcp/temp/*.jar